@import "../../app.scss";
.hero{
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg,#0c0c1d,#111132);
    position: relative;

    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: auto;

        .textContainer{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;

            img{
                height: 50px;
                width: 50px;
            }

            @include mobile{
                height: 50%;
                width: 100%;
                gap: 20px;
                align-items: center;
                text-align: center;
            }


            // h2{
            //     font-size: 60px;
            //     color: rebeccapurple;
            //     letter-spacing: 6px;
            //     padding-right: 120px;
            // }

                        /* === removing default button style ===*/
                        .button {
                            margin: 0;
                            height: auto;
                            background-color: transparent;
                            padding: 0;
                            border: none;
                            cursor: pointer;
                        }
            
                        /* button styling */
                        .button {
                            --border-right: 6px;
                            --text-stroke-color: white;
                            --animation-color: #33d3a3;
                            --fs-size: 2em;
                            letter-spacing: 3px;
                            text-decoration: none;
                            font-size: var(--fs-size);
                            font-family: "Arial";
                            position: relative;
                            text-transform: uppercase;
                            color: transparent;
                            -webkit-text-stroke: 1px var(--text-stroke-color);

                        }
            
                        /* this is the text, when you hover on button */
                        .hover-text {
                            position: absolute;
                            box-sizing: border-box;
                            color: var(--animation-color);
                            width: 0%;
                            inset: 0;
                            border-right: var(--border-right) solid var(--animation-color);
                            overflow: hidden;
                            transition: 0.5s;
                            -webkit-text-stroke: 1px var(--animation-color);
                        }
            
                        /* hover */
                        .button:hover .hover-text {
                            width: 48%;
                            @include mobile {
                                width: 98%;
                            }
                            filter: drop-shadow(0 0 23px var(--animation-color))

                            
                        }
            h1{
                font-size: 80px;

                @include mobile {
                    font-size: 36px;
                }

            }
           
    
        }
    }

    


    .imageContainer{
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 40px;
        padding-top: 80px;

        @include mobile{
            height: 50%;
            width: 100%;
            top: unset;
            bottom: 0;
        }

        img{
            width: 100%;
            height: 120%;
            object-fit: cover;
            // padding-right: 20px;
            // padding-top: -20px;
        }

    }
    .slidingTextCointainer{
        position: absolute;
        font-size: 50vh;
        bottom: -120px;
        white-space: nowrap;
        color: #ffffff09;
        width: 50%;
        font-weight: bold;
    }
}